<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
	<!--  index page -->
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>
	
	<!-- contextL global param -->
	<context-param>
		<param-name>location</param-name>
		<param-value>Shanghai</param-value>
	</context-param>
	
	<servlet>
		<servlet-name>Result</servlet-name>
		<servlet-class>simpleTest.UserForm</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Result</servlet-name>
		<url-pattern>/add</url-pattern>		
	</servlet-mapping>
	
	<servlet>
		<servlet-name>listuser</servlet-name>
		<servlet-class>simpleTest.ListUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>listuser</servlet-name>
		<url-pattern>/list</url-pattern>		
	</servlet-mapping>
	
	<servlet>
		<servlet-name>deluser</servlet-name>
		<servlet-class>simpleTest.DelUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deluser</servlet-name>
		<url-pattern>/delete</url-pattern>		
	</servlet-mapping>
	
	<servlet>
		<servlet-name>cookieadd</servlet-name>
		<servlet-class>cookie.AddCookie</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>cookieadd</servlet-name>
		<url-pattern>/addcookie</url-pattern>		
	</servlet-mapping>
	
	<servlet>
		<servlet-name>cookiefind</servlet-name>
		<servlet-class>cookie.FindCookie</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>cookiefind</servlet-name>
		<url-pattern>/findcookie</url-pattern>		
	</servlet-mapping>
	
	<servlet>
		<servlet-name>cookiecount</servlet-name>
		<servlet-class>cookie.CountServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>cookiecount</servlet-name>
		<url-pattern>/count</url-pattern>		
	</servlet-mapping>
	
	<servlet>
		<servlet-name>sessiontest</servlet-name>
		<servlet-class>session.TestSession</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>sessiontest</servlet-name>
		<url-pattern>/session</url-pattern>		
	</servlet-mapping>
	
	<servlet>
		<servlet-name>lifetime</servlet-name>
		<servlet-class>life.LifeServlet</servlet-class>
		<!-- configure init parameters -->		
		<init-param>
			<param-name>city</param-name>
			<param-value>Shanghai</param-value>
		</init-param>		
		<!-- create servlet after container starts, value: int>=0, priority:smaller -->
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>lifetime</servlet-name>
		<url-pattern>/life</url-pattern>	
	</servlet-mapping>
	
	<filter>
		<filter-name>commfilter</filter-name>
		<filter-class>filter.CommentFilter</filter-class>
		<!-- init param -->
		<init-param>
			<param-name>length</param-name>
			<param-value>6</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>commfilter</filter-name>
		<url-pattern>/comment</url-pattern>
	</filter-mapping>
	
	<!--for listener  -->
	<listener>
		<listener-class>listener.CountListener</listener-class>
	</listener>
	
	<!--config param for jsp file  -->
	<servlet>
		<servlet-name>jf</servlet-name>
		<jsp-file>/extras.jsp</jsp-file>
		<init-param>
			<param-name>uname</param-name>
			<param-value>user1</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>jf</servlet-name>
		<url-pattern>/extra.html</url-pattern>
	</servlet-mapping>
	<!-- configure error handle page -->
	<error-page>
		<exception-type>javax.ServletException</exception-type>
		<location>/error.jsp</location>
	</error-page>
</web-app>