<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
	<servlet>
		<servlet-name>Result</servlet-name>
		<servlet-class>simpleTest.UserForm</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Result</servlet-name>
		<url-pattern>/add</url-pattern>		
	</servlet-mapping>
	
	<servlet>
		<servlet-name>listuser</servlet-name>
		<servlet-class>simpleTest.ListUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>listuser</servlet-name>
		<url-pattern>/list</url-pattern>		
	</servlet-mapping>
	
	<servlet>
		<servlet-name>deluser</servlet-name>
		<servlet-class>simpleTest.DelUser</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>deluser</servlet-name>
		<url-pattern>/delete</url-pattern>		
	</servlet-mapping>
	
	<servlet>
		<servlet-name>listuserNew</servlet-name>
		<servlet-class>mvc.ListUserNew</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>listuserNew</servlet-name>
		<url-pattern>/listnew</url-pattern>		
	</servlet-mapping>
	
	<servlet>
		<servlet-name>adduser</servlet-name>
		<servlet-class>mvc.AddUserNew</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>adduser</servlet-name>
		<url-pattern>/addnew</url-pattern>		
	</servlet-mapping>
	
	<servlet>
		<servlet-name>delusernew</servlet-name>
		<servlet-class>mvc.DelUserNew</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>delusernew</servlet-name>
		<url-pattern>/deletenew</url-pattern>		
	</servlet-mapping>
	
	<servlet>
		<servlet-name>cookieadd</servlet-name>
		<servlet-class>cookie.AddCookie</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>cookieadd</servlet-name>
		<url-pattern>/addcookie</url-pattern>		
	</servlet-mapping>
	
	<servlet>
		<servlet-name>cookiefind</servlet-name>
		<servlet-class>cookie.FindCookie</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>cookiefind</servlet-name>
		<url-pattern>/findcookie</url-pattern>		
	</servlet-mapping>
	
	<servlet>
		<servlet-name>cookiecount</servlet-name>
		<servlet-class>cookie.CountServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>cookiecount</servlet-name>
		<url-pattern>/count</url-pattern>		
	</servlet-mapping>
	
	<servlet>
		<servlet-name>sessiontest</servlet-name>
		<servlet-class>session.TestSession</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>sessiontest</servlet-name>
		<url-pattern>/session</url-pattern>		
	</servlet-mapping>
	
	<servlet>
		<servlet-name>userlogin</servlet-name>
		<servlet-class>mvc.UserLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>userlogin</servlet-name>
		<url-pattern>/login</url-pattern>		
	</servlet-mapping>
</web-app>